version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - duckling
    environment:
      - DUCKLING_URL=http://duckling:8000/parse

  duckling:
    image: rasa/duckling
    ports:
      - "8001:8000"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

